body{
    margin: 0;
    padding: 0;
}

ul {
    align-items: center;  /*center items vertically*/
    display: flex;  /*flexbox*/
    justify-content: space-between;  /*space between items*/
    text-decoration: none;  /*remove underline*/
    size: 3px;  /*size of the text*/

}

li{
    list-style: none;
    padding: 10px 15px;  /*10px top and bottom, 15px left and right*/
}

li a{
    color: black;  /*black text*/
    text-decoration: none;  /*remove underline*/
}

li a:hover{
    color: #e01818;  /*change color on hover*/
}

