.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #fff;
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  .category-select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    width: 150px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .search-button {
    background-color: #f0c14b;
    border: 1px solid #a88734;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
  }
  
  .search-button:hover {
    background-color: #ddb347;
  }
  